<!DOCTYPE html>
<html lang="en">

<head>
    <title> Libib | Leaderboard </title>
    <%- include('../templates/library-stylesheet.ejs') %>
</head>

<body>
    <div class="user-interface">
        <%- include('../templates/nav-bar.ejs') %>
            <div class="container">
                <%- include('../templates/header.ejs') %>
                    <div class="leaderboard">
                        <div class="leaderboard-header"> <i class="fa-solid fa-trophy"></i> High Rating</div>
                        <div class="leaderboard-list">
                            <div class="list-top"> 1 </div>
                            <div class="list-img">
                                <img src="/images/96dd3c11bd366e6d8f98729b6247984a.jpg">
                            </div>
                            <div class="list-info">
                                <div class="list-info-title"> Title </div>
                                <div class="list-info-author">Author</div>
                            </div>
                            <div class="list-rate">
                                <p> 5.0</p>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <div class="leaderboard-list">
                            <div class="list-top"> 1 </div>
                            <div class="list-img">
                                <img src="/images/image-not-available.jpg">
                            </div>
                            <div class="list-info">
                                <div class="list-info-title"> Title </div>
                                <div class="list-info-author">Author</div>
                            </div>
                            <div class="list-rate">
                                <p> 5.0</p>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>

                    </div>
            </div>
</body>

</html>