<!DOCTYPE html>
<html lang="en">

<head>
    <title> WTW | Support </title>
    <%- include('../templates/library-stylesheet.ejs') %>
</head>

<body>
    <div class="user-interface">
        <%- include('../templates/nav-bar.ejs') %>
            <div class="container">
                <%- include('../templates/header.ejs') %>
                    <div class="rules">
                        <div class="rules-header"> Rules </div>
                        <div class="rules-body">
                            <div class="rule">
                                <div class="rule-num"> 1.  </div>
                                <div class="rule-content">
                                    Enter, leave and work quietly
                                </div>
                            </div>
                            <div class="rule">
                                <div class="rule-num"> 2. </div>
                                <div class="rule-content">
                                    Take goo care of books
                                </div>
                            </div>
                            <div class="rule">
                                <div class="rule-num"> 3. </div>
                                <div class="rule-content">
                                    Always walk in the library
                                </div>
                            </div>
                            <div class="rule">
                                <div class="rule-num"> 4. </div>
                                <div class="rule-content">
                                    You have to pay a deposit of 100k on each book you borrow.
                                </div>
                            </div>
                            <div class="rule">
                                <div class="rule-num"> 5. </div>
                                <div class="rule-content">
                                    The amount you paid will be returned when you return the book, and it will be deducted if you do not return the book on time or lose the book.
                                </div>
                            </div>
                            <div class="rule">
                                <div class="rule-num"> 6. </div>
                                <div class="rule-content">
                                    Please return the book after 7 days or you will get banned for 3 days
                                </div>
                            </div>
                            <div class="rule">
                                <div class="rule-num"> 7. </div>
                                <div class="rule-content">
                                    If you do not return the book after two weeks, you will not be refunded.
                                </div>
                            </div>
                        </div>
                        <div class="contact">
                            <div class="contact-header">
                                Contact us
                            </div>
                            <div class="contact-content">
                                <div class="contact-address">
                                    <i class="fa-solid fa-phone"></i>
                                    <p> 0123456789 </p>
                                </div>
                                <div class="contact-address">
                                    <i class="fa-regular fa-envelope"></i>
                                    <p> subtofauna@wowthis.works</p>
                                </div>
                                <div class="contact-address">
                                    <i class="fa-solid fa-globe"></i>
                                    <p onclick="window.location.href='https://wowthis.works/home'"> wowthis.works</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>

</body>
<%- include('../templates/change-theme.ejs') %>

</html>