<!DOCTYPE html>
<html lang="en">

<head>
    <title> Libib | Support </title>
    <%- include('../templates/library-stylesheet.ejs') %>
</head>

<body>
    <div class="user-interface">
        <% const page="support" %>
            <%- include('../templates/nav-bar.ejs') %>
                <div class="container">
                    <%- include('../templates/header.ejs') %>

                </div>
    </div>

</body>
<%- include('../templates/change-theme.ejs') %>

</html>