<!DOCTYPE html>
<html lang="en">

<head>
    <title> Libib | Settings </title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <div class="user-interface">
        <div class="navigation-bar">
            <div class="logo">
                <a href="#">
                    <p> Libib </p>
                </a>
                <a href="/library"> <i class="fa-solid fa-book-open"></i> </a>
            </div>
            <div class="list-option">
                <ul>
                    <a href="/library">
                        <li class="inactive"> <i class="fa-solid fa-book"></i>
                            <p>Library</p>
                        </li>
                    </a>
                    <a href="/my-collection">
                        <li class="inactive"> <i class="fa-solid fa-book"></i>
                            <p> My Collection </p>
                        </li>
                    </a>
                    <%if(session.perm[0].manage_book){%>
                        <a href="/add-book">
                            <li class="inactive"><i class="fa-solid fa-circle-plus"></i>
                                <p>Add books</p>
                            </li>
                        </a>
                        <%}%>
                            <a href="/setting">
                                <li class="active"> <i class="fa-solid fa-gear"></i>
                                    <p> Settings</p>
                                </li>
                            </a>
                            <a href="/support">
                                <li class="inactive"> <i class="fa-brands fa-rocketchat"></i>
                                    <p> Support</p>
                                </li>
                            </a>
                            <a href="/logout">
                                <li class="inactive"> <i class="fa-solid fa-right-from-bracket"></i>
                                    <p>Logout</p>
                                </li>
                            </a>
                </ul>
            </div>
            <ul class="list-sci">
                <li>
                    <a href="#" class="fa-brands fa-instagram"></a>
                </li>
                <li>
                    <a href="#" class="fa-brands fa-twitter"></a>
                </li>
                <li>
                    <a href="#" class="fa-brands fa-youtube"></a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="library-tools">
                <div class="library-header">
                    <div class="library-title"> Setting </div>
                    <a class="user-profile me-auto" href="/profile/<%=session.user_id%>">
                        <div class="user-box">
                            <i class="fa-solid fa-circle-user"></i>
                            <div class="username">
                                <%= session.profile[0].account%>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>

</html>