<div class="navigation-bar">
    <div class="logo">
        <a href="/home">
            <p> WTW </p>
        </a>
        <a href="/home"> <i class="fa-solid fa-book-open"></i> </a>
    </div>  
        <ul class="list-option" id="list-option">
            <a href="/library">
                <% if( session.page=="library"){ %>
                    <li class="active">
                <% }else { %>
                   <li class="inactive">
                <% }%> 
                    <i class="fa-solid fa-book"></i>
                    <p>Library</p>
                    </li>
            </a>
            <a href="/my-collection">
                <% if(session.page=="my-collection"){ %>
                    <li class="active">
                <% }else { %>
                    <li class="inactive">
                 <% }%> 
                    <i class="fa-solid fa-book"></i>
                    <p> My Collection </p>
                    </li>
            </a>
            <%if(session.perm[0].manage_book){%>
                <a href="/add-book">
                    <% if(session.page=="Add book"){ %>
                        <li class="active">
                     <% }else { %>
                        <li class="inactive">
                     <% }%> 
                    <i class="fa-solid fa-circle-plus"></i>
                        <p>Add books</p>
                    </li>
                </a>
                <%}%>
                <%if(session.perm[0].manage_book){%>
                    <a href="/requests">
                        <% if(session.page=="Requests"){ %>
                            <li class="active">
                         <% }else { %>
                            <li class="inactive">
                         <% }%> 
                         <i class="fa-solid fa-list-check"></i>
                            <p>Requests
                                <% if(session.request.length){ %>
                                    <i class="fa-solid fa-question"></i>
                                 <% } %>
                            </p>
                            
                        </li>
                    </a>
                    <%}%>
                    <%if(session.perm[0].manage_book){%>
                        <a href="/return">
                            <% if(session.page=="Return Books"){ %>
                                <li class="active">
                             <% }else { %>
                                <li class="inactive">
                             <% }%> 
                             <i class="fa-solid fa-list-check"></i>
                                <p>Return Books</p>
                            </li>
                        </a>
                        <%}%>
                    <a href="/leaderboard">
                        <% if(session.page=="Leaderboard"){ %>
                            <li class="active">
                        <% }else { %>
                           <li class="inactive">
                        <% }%> 
                            <i class="fa-solid fa-trophy"></i>
                            <p> Leaderboard</p>
                            </li>
                    </a>
                    <a href="/setting">
                        <% if(session.page=="Setting"){ %>
                            <li class="active">
                        <% }else { %>
                           <li class="inactive">
                        <% }%> 
                            <i class="fa-solid fa-gear"></i>
                            <p> Settings</p>
                            </li>
                    </a>
                    <a href="/support">
                        <% if(session.page=="Support"){ %>
                            <li class="active">
                        <% }else { %>
                           <li class="inactive">
                        <% }%> 
                            <i class="fa-brands fa-rocketchat"></i>
                            <p> Support</p>
                            </li>
                    </a>
                    <a href="/logout">
                        <li class="inactive"> <i class="fa-solid fa-right-from-bracket"></i>
                            <p>Logout</p>
                        </li>
                    </a>
        </ul>
    <div class="nav-spacer"> </div>
    <div class="list-menu">
    <ul class="list-sci">
        <li>
            <a href="#" class="fa-brands fa-instagram"></a>
        </li>
        <li>
            <a href="#" class="fa-brands fa-twitter"></a>
        </li>
        <li>
            <a href="#" class="fa-brands fa-youtube"></a>
        </li>
    </ul>
    </div>
</div>