<div class="bell-notification">
    <div class="bell">
        <i class="fa-solid fa-bell"></i>
        <div class="num-notification"> <%= session.notification.length%> </div>
    </div>
    <div class="notification-content">
        <div class="notification-header">
            <p> Recent activities </p>
        </div>
        <div class="notification-message">
            <% for(var i = 0; i < Math.min(3, session.notification.length); i++){ %>
            <div class="notification-time"> <%= session.notification[i].date_add%></div>
            <div class="notification-act"> <%= session.notification[i].noti %> </div>
            <%}%>
        </div>
        <div class="view-all"> <a onclick="Overlay('log')"> View all activities </a> </div>
    </div>
</div>