<div class="bell-notification">
    <div class="bell">
        <i class="fa-solid fa-bell"></i>
        <div class="num-notification"> 8 </div>
    </div>
    <div class="notification-content">
        <div class="notification-body">
            <div class="notification-header">
                <p> Recent activities </p>
            </div>
            <div class="notification-date"> 
                 02/20/2023
            </div>
            <div class="notification-message">
                <div class="notification-time"> 08:00AM</div>
                <div class="notification-act"> You borrow ... book </div>
                <i class="fa-solid fa-check"></i>
            </div>
            <div class="notification-message">
                <div class="notification-time"> 08:00AM</div>
                <div class="notification-act"> Your request is being considered</div>
                <i class="fa-solid fa-ellipsis"></i>
            </div>
            <div class="notification-message">
                <div class="notification-time"> 08:00AM</div>
                <div class="notification-act"> Your request is declined </div>
                <i class="fa-solid fa-exclamation"></i>
            </div>
            
        </div>
        <div class="view-all"> <a onclick="Overlay('log')"> View all activities </a> </div>
    </div>
</div>