<div class="overlay">
    <div class="overlay-log"> 
        <div class="log-header">
            <div class="log-title"> History  </div> 
            <i class="fa-solid fa-xmark" onclick="Overlay('log')"></i>
        </div> 
        <div class="log-content">
            <div class="log-act">
                <div class="act-date"> Date </div>
                <div class="act-content"> 
                    <div class="act-time"> 08:00AM </div>
                    <div class="act-event"> You borrow Thien su nha ben book successfully </div>
                    <i class="fa-solid fa-check"></i>
                </div>
                <div class="act-content"> 
                    <div class="act-time"> 08:00AM </div>
                    <div class="act-event"> Event </div>
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
                <div class="act-date"> Date </div>
                <div class="act-content"> 
                    <div class="act-time"> 08:00AM </div>
                    <div class="act-event"> Event </div>
                    <i class="fa-solid fa-exclamation"></i>
                </div>
                <div class="act-content"> 
                    <div class="act-time"> 08:00AM </div>
                    <div class="act-event"> Event </div>
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </div>
        </div> 
    </div>
</div>
