<div class="overlay">
    <div class="overlay-log"> 
        <div class="log-header">
            <div class="log-title"> History  </div> 
            <i class="fa-solid fa-xmark" onclick="Overlay('log')"></i>
        </div> 
        <div class="log-content">
            <div class="log-act">
                <% for(var i = 0; i < session.notification.length; i++){ %>
                    <div class="notification-time"> <%= session.notification[i].date_add %></div>
                    <div class="notification-act"> <%= session.notification[i].noti %> </div>
                <%}%>
            </div>
        </div> 
    </div>
</div>
