<div class="service">
    <div class="book-basket">
        <div class="basket-logo">
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="num-books"> 3 </div> 
        </div>
        <div class="basket-content">
            <div class="basket-header">
                <p> There are 3 books in the basket </p>
            </div>
            <div class="book-item-list">
                <div class="book-item">
                    <div class="book-num">
                        1
                    </div>
                    <div class="book-img">
                        <img src="../images/image-not-available.jpg">
                    </div>
                    <div class="book-item-info">
                        <div class="book-item-title"> Thien su nha ben vol 1  </div>
                        <div class="book-item-author"> Author </div>
                    </div>
                    <div class="book-return"> 
                        <button> Remove </button>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-num">
                        1
                    </div>
                    <div class="book-img">
                        <img src="../images/image-not-available.jpg">
                    </div>
                    <div class="book-item-info">
                        <div class="book-item-title"> Thien su nha ben vol 1  </div>
                        <div class="book-item-author"> Author </div>
                    </div>
                    <div class="book-return"> 
                        <button> Remove </button>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-num">
                        1
                    </div>
                    <div class="book-img">
                        <img src="../images/image-not-available.jpg">
                    </div>
                    <div class="book-item-info">
                        <div class="book-item-title"> Thien su nha ben vol 1  </div>
                        <div class="book-item-author"> Author </div>
                    </div>
                    <div class="book-return"> 
                        <button> Remove </button>
                    </div>
                </div>
            </div>
            <form class="book-send"> 
                <input type="submit" value="Send request"> 
            </form>
        </div>
    </div>
    <div class="scroll-top">
        <i onclick="window.scrollTo(0,0)" class="fa-solid fa-chevron-up"></i>
    </div>
</div>