<% if(message != '') { %>
<div class="success-notification">
    <div class="message">
        <i class="fa-solid fa-face-smile-wink"></i>
        <span> <%= message %> </span>
        <div class="notification-close"> <i class="fa-solid fa-xmark"></i></div>
    </div>
    <div class="process"> </div>
</div>
<% } %>